@font-face {
  font-family: FontOne;
  src: url(Assessts/font/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuLyfAZ9hiJ-Ek-_EeA.ttf);
}
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: FontOne;
  font-weight: 400;
}
html,
body {
  width: 100%;
  height: 100%;
}
#main {
  width: 100%;
  min-height: 100vh;
}
nav {
  display: flex;
  width: 100%;
  height: 15vh;
  position: fixed;
  top: 0;
  z-index: 4000;
  align-items: center;
  justify-content: space-between;
  padding: 0vw 3vw;
  mix-blend-mode: difference;
  /* background-color: aqua; */
}
.left-nav {
  /* background-color: red; */
  height: 3vh;
  font-size: 1vw;
  cursor: pointer;
  overflow: hidden;
}
.left-nav h1 {
  color: #fff;

  transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 1s;
}
.left-nav:hover #logo {
  margin-top: -3vh;
}
.rght-nav {
  /* background-color: red; */
  height: 3vh;
  font-size: 1vw;

  overflow: hidden;
  cursor: pointer;
}
.rght-nav h2 {
  color: #fff;

  transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 1s;
}
.rght-nav:hover #navcon {
  margin-top: -3vh;
}
.part1 {
  width: 100%;
  height: 200vh;

  background-color: #000;
  overflow: hidden;
}
.content-part1 {
  display: flex;
  justify-content: center;
  align-items: start;
  width: 100%;
  height: 100vh;
  /* background-color: purple; */
}
.rotate-div {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 200vw;
  height: 200vh;
  gap: 3vw;
  scale: 1;
  background-color: #000;
}
.row-div {
  display: flex;
  flex-direction: column;
  gap: 3vh;
  width: calc(200vw / 5);
  height: 100%;
  /* background-color: wheat; */
}
.img-div {
  width: 100%;
  height: calc(100% / 4);
  border-radius: 10px;
  overflow: hidden;
  object-fit: ;
}
.img-div img {
  width: 100%;



}

#row-div-2 {
  margin-top: 0%;
}
#row-div-3 {
  margin-top: -2%;
}
#row-div-4 {
  margin-top: -4%;
}
#row-div-5 {
  margin-top: 5%;
}
.overlay {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;

  height: 100vh;
  color: #fff;
  background-color: #00000005;
  font-size: 4vw;
}
.overlay h1 {
  opacity: 0;
}
.scroll-down {
  position: absolute;
  bottom: 8%;
  display: flex;
  flex-direction: column;
  gap: 2vh;
  align-items: center;
  justify-content: center;
  color: #fff;
}
.scroll-down h3 {
  font-size: 0.8vw;
}
.scroll-p {
  width: 8vw;
  height: 2px;
  border-radius: 50px;
  background-color: #ffffff71;
  overflow: hidden;
}
.scrolling {
  width: 0vw;
  height: 2px;
  border-radius: 50px;
  background-color: #fff;
  overflow: hidden;
}
/* part-2 */
.part2 {
  width: 100%;
  height: 100vh;

  /* background-color: #fff; */
}
.rounded-div-wrapper {
  position: relative;

  width: 100%;
  margin-top: -100px;
  height: 100px;
  background-color: transparent;

  overflow: hidden;
}
.rounded {
  position: absolute;
  width: 150%;
  height: 750%;
  border-radius: 50%;
  left: 50%;
  background-color: rgb(243, 243, 243);
  transform: translate(-50%);
}
.content-2 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  overflow: hidden;
}
.text-area {
  position: absolute;
  /* font-size: 7vw; */
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  opacity: 0.3;
  left: 10%;
}
.text-area-hover {
  position: absolute;
  left: 10%;
  /* font-size: 7vw; */
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  /* width: 30%; */
  /* white-space: nowrap; */
  opacity: 1;
  overflow: hidden;
}
.text-area h1,
.text-area-hover h1 {
  font-size: 6vw;
}
.text-area h2,
.text-area-hover h2 {
  font-size: 6vw;
}
.text-area-hover h1 {
  width: 0%;
  text-wrap: nowrap;
  overflow: hidden;
}
.text-area-hover h2 {
  width: 0%;
  text-wrap: nowrap;
  overflow: hidden;
}

/* part-3 */
.part3 {
  margin-top: -30vh;
  width: 100%;
  height: 50vh;
  background-color: #fff;
}
.top-part-1 {
  width: 100%;
  padding: 0 3vw;
  height: 15vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.top-part-1 h4 {
  opacity: 0.6;
  font-size: 1.4vw;
}
.btn-grp {
  display: flex;
  gap: 1vw;
}
.btn-grp .btn {
  transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
  display: flex;
  flex-direction: column;
  justify-content: center;

  align-items: center;
  background-color: #000;
  padding: 1vw 2vw;
  overflow: hidden;
  border-radius: 50px;
}
.btn-grp .btn-text {
  height: 3vh;
  color: #fff;

  /* width: 16vw; */
  overflow: hidden;

  color: white;
}

.btn-text h3 {
  font-weight: 300;

  overflow: hidden;
  transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
}
.btn-grp .btn:hover h3:nth-child(1) {
  margin-top: -3vh;
}
.btn-grp .btn:nth-child(2) {
  background-color: #e1e1e1;
  color: #000;
}
.top-part-2 {
  width: 100%;
  height: 15vh;
  background-color: #000;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
/* ----------part-4----------------- */
.part-4 {
  margin-top: -20vh;
  display: flex;

  width: 100%;
  height: 100vh;
  overflow: hidden;
  /* background-color: aliceblue; */
}
.lft-part-4 {
  width: 50%;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.lft-part-4 h1 {
  font-size: 7vw;
}
.cir-icon {
  height: 7vw;
  width: 7vw;
  background-color: #ffffff71;
  display: flex;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}
.cir-icon img {
  width: 4vw;
}
.rght-part-4 {
  width: 50%;
  height: 200%;
}
.content-rght-part-4 {
  margin-top: 75%;

  display: flex;
  flex-direction: column;
  gap: 4vh;
  opacity: 0;
}
.content-rght-part-4 h1 {
  font-size: 3.5vw;
}
.content-rght-part-4 p {
  width: 75%;
  font-size: 1.2vw;
  opacity: 0.6;
}
.part-5 {
  margin-top: -30vh;
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.part-5 p {
  font-size: 2.5vw;
  font-weight: 600;
  opacity: 0.6;
  margin-top: 10vh;
}
.part-5 .text-area {
  left: 20%;
  top: 30%;
}
.part-5 .text-area-hover {
  left: 20%;

  top: 30%;
}
.part-6 {
  margin-top: -10vh;
  height: 220vh;
  width: 100%;
  background-color: #dedede;
}
.rounded-div-wrapper-6 {
  position: relative;
  width: 100%;
  height: 100px;
  overflow: hidden;
  margin-top: 100px;
}
.rounded-6 {
  bottom: 0;
  position: absolute;
  left: 50%;
  width: 150%;
  height: 750%;
  border-radius: 50%;
  background-color: #fff;
  transform: translate(-50%);
}
.brand-part-6 {
  width: 100%;

  margin-top: 5vh;
}
.top-part-6 {
  height: 10vh;
  display: flex;
  align-items: center;
  border-top: 1px solid #d3d3d3;
  border-bottom: 1px solid #d3d3d3;
}
.left-top-part-6 {
  width: 50%;
}
.left-top-part-6 h1 {
  font-size: 5vw;
  padding-left: 5vw;
}
.rght-top-part-6 {
  width: 50%;
}

.rght-top-part-6 button {
  padding: 1.2vw 3vw;
  background-color: #d1d1d1;
  border: none;
  font-size: 1vw;
  border-radius: 50px;
}
.btm-part-6 {
  width: 100%;
  display: flex;
}
.lft-btn-part-6 {
  width: 50%;
}
.rght-btn-part-6 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 5vh;
  width: 50%;
  height: 60vh;
}
.rght-btn-part-6 h1 {
  font-size: 2vw;
}
.rght-btn-part-6 p {
  font-size: 1.5vw;
  color: #919191;
  line-height: 4vh;
}

.part-7 {
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-color: #000;
}
.ourwork-txt {
  position: absolute;
  width: 60vw;
  height: 0vh;

  z-index: 9;
}
#our {
  position: absolute;
  top: 0;
  left: 35%;
  transform: translate(-20%, -50%);
  color: #fff;
  font-size: 5vw;
}
#work {
  position: absolute;
  bottom: 0;
  right: 35%;
  transform: translate(20%, 50%);
  color: #fff;
  font-size: 5vw;
}
.ourwork-txt-div {
  overflow: hidden;
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
  width: 60vw;
  height: 0vh;
  background-color: #fff;
}
.scroll-work {
  width: 100%;
  height: 60vh;
  background-color: #919191;
  overflow: hidden;
}
.scroll-img {
  width: 100%;
  margin-top: 0%;
  transition: all cubic-bezier(0.165, 0.84, 0.44, 1) 1s;
}
.scroll-img img {
  width: 100%;
}
#demo {
  position: absolute;
  padding: 1.5vw 3vw;
  background-color: #919191;
  border-radius: 50px;
  border: none;
  font-size: 0.8vw;
  bottom: -10%;
}

.part-8 {
  width: 100%;
  height: 100vh;

  background-color: #f5f5f5;
}
.title {
  padding: 2vw;

  width: 100%;
  height: 10vh;
  border-bottom: 1px solid #d1d1d1;

  opacity: 0.4;
  display: flex;
  justify-content: center;
  align-items: center;
}
.title h1 {
  font-size: 2vw;
}
.contentpart8 {
  display: flex;
  width: 100%;
}
.lft-part8 {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.lft-title {
  padding: 15vh;
  font-size: 19vw;
}
.left-btn {
  margin-top: -24vh;
  font-size: 4vh;
  opacity: 0.4;
}
.rght-part8 {
  width: 50%;
  display: flex;
  gap: 4vh;
  padding: 15vh;
  flex-direction: column;
  justify-content: center;
}
.rght-part8 .title8 {
  display: flex;
  gap: 0.1vh;
  width: 100%;
  flex-direction: column;
}
.rght-part8 .title8 h4 {
  font-size: 2.8vh;
}
.rght-part8 p {
  width: 80%;
  opacity: 0.4;
  font-size: 2vh;
}
.rght-part8 button {
  width: 60%;
  padding: 1.2vw 3vw;
  border: none;
  background-color: #000;
  color: #fff;
  font-size: 1.2vw;
  border-radius: 50px;
}

.part-9 {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8vh;
  background-color: #000;
  color: #fff;
}
.part-9 h1 {
  font-family: "Inter", sans-serif;
  font-size: 12vh;
  font-weight: 400;
  line-height: 10vh;
  opacity: 0.8;
}
.part-9 p {
  text-align: center;
  width: 50%;
  font-size: 1.8vw;
  opacity: 0.7;
}
.part-9 button {
  padding: 1.2vw 3vw;
  border: none;
  background-color: #e1e1e1;
  border-radius: 50px;
  font-size: 1vw;
}
footer {
  margin-top: -5vh;
  text-align: center;
  background-color: #000;
  color: #fff;
}
footer h4 {
  opacity: 0.4;
}

@media only screen and (max-width: 480px) {

  .left-nav {
    /* background-color: red; */
    height: 3vh;
    font-size: 3vw;
    cursor: pointer;
    overflow: hidden;

}
.rght-nav {
    /* background-color: red; */
    height: 3vh;
    font-size: 3vw;
    overflow: hidden;
    cursor: pointer;
}
  /* part-1 */
  .row-div {
    display: flex;
    flex-direction: column;
    gap: 3vh;
    width: calc(400vw / 5);
    height: 100%;
    /* background-color: wheat; */
  }
  .rotate-div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400vw;
    height: 229vh;
    gap: 3vw;
    scale: 1;
    background-color: #000;
  }

  .overlay {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100vh;
    color: #fff;
    background-color: #00000005;
    font-size: 6vw;
  }
  .scroll-down h3 {
    font-size: 1.8vw;
  }
  /* part-1 */
  /* part-3 */
  .top-part-1 {
    width: 100%;
    padding: 13px 3vw;
    height: 15vh;
    display: flex;
    flex-direction: column;
    gap: 3vw;
  }
  .top-part-1 h4 {
    opacity: 0.6;
    font-size: 4.4vw;
  }
  .btn-grp .btn {
    transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
    display: flex;
    flex-direction: column;

    background-color: #000;
    padding: 3vw 4vw;
    overflow: hidden;
    border-radius: 50px;
  }
  /* part-3 */

  .part-4 {
    margin-top: -20vh;
    display: flex;

    flex-direction: column;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    /* background-color: aliceblue; */
  }
  .lft-part-4 {
    padding: 2vw;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .lft-part-4 h1 {
    font-size: 10vw;
  }
  .cir-icon img {
    width: 10vw;
  }
  .rght-part-4 {
    padding: 20vw 15vw;

    width: 100%;

    height: 200%;
  }
  .content-rght-part-4 h1 {
    font-size: 8.5vw;
  }
  .content-rght-part-4 p {
    width: 100%;
    font-size: 3.2vw;
    opacity: 0.6;
  }
  .content-rght-part-4 {
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    gap: 4vh;
    opacity: 0;
}
.part-5 p {
  font-size: 9.5vw;
  font-weight: 600;
  opacity: 0.6;
  margin-top: 10vh;
}
.part-5 {
  margin-top: -30vh;
  width: 100%;
  height: 80vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.left-top-part-6 h1 {
  font-size: 9vw;
  padding-left: 5vw;
}
.rght-top-part-6 button {
  padding: 3vw 9vw;
  background-color: #d1d1d1;
  border: none;

  font-size: 1.2vw;
  border-radius: 50px;
}

.btm-part-6 {
  width: 100%;
  /* display: flex; */
}
.lft-btn-part-6 {
 width: 0%;
}


.rght-btn-part-6 {
  padding: 2vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 5vh;
    width: 100%;
    height: 60vh;
}
.rght-btn-part-6 h1 {
  font-size: 5vw;
}
.rght-btn-part-6 p {
 
  font-size: 4vw;
  color: #919191;
  line-height: 4vh;
}
.contentpart8 {
  display: flex;
  flex-direction: column;
  width: 100%;
}.lft-part8 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.left-btn {
  margin-top: -17vh;
  font-size: 4vh;
  opacity: 0.4;
}
.rght-part8 {
  width: 100%;
  display: flex;
  gap: 4vh;
  padding: 15vh;
  flex-direction: column;
  justify-content: center;
}
.part-9 h1 {
  font-family: "Inter", sans-serif;
  font-size: 6vh;
  font-weight: 400;
 
  line-height: 10vh;
  opacity: 0.8;
}
.part-9 p {
  text-align: center;
  width: 68%;
  font-size: 2.8vw;
  opacity: 0.7;
}
.part-9 button {
  padding: 3.2vw 8vw;
  border: none;
  background-color: #e1e1e1;
  border-radius: 50px;
  font-size: 3vw;
}
#demo {
  position: absolute;
  padding: 1.5vw 3vw;
  background-color: #919191;
  border-radius: 50px;
  border: none;
  font-size: 2.8vw;
  bottom: -10%;
}

}

@media only screen and (min-width: 480px) and (max-width: 850px) {
  .left-nav {
    /* background-color: red; */
    height: 3vh;
    font-size: 2vw;
    cursor: pointer;
    overflow: hidden;
}
.rght-nav {
  /* background-color: red; */
  height: 4vh;
  font-size: 2vw;
  overflow: hidden;
  cursor: pointer;
}
.rotate-div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200vw;
  height: 240vh;
  gap: 3vw;
  scale: 1;
  background-color: #000;
}

.row-div {
  display: flex;
  flex-direction: column;
  gap: 3vh;
  width: calc(300vh / 5);
  height: 100%;
  /* background-color: wheat; */
}
.img-div {
  width: 100%;
  height: calc(100% / 5);
  border-radius: 10px;
  overflow: hidden;
}
.part-9 h1 {
  font-family: "Inter", sans-serif;
  font-size: 12vh;
  font-weight: 400;
  text-align: center;
  line-height: 10vh;
  opacity: 0.8;
}
.left-btn {
  margin-top: -17vh;
  font-size: 4vh;
  opacity: 0.4;
}
.rght-part8 {
  width: 50%;
  display: flex;
  gap: 4vh;
  padding: 15vw 8vh;
  flex-direction: column;
  justify-content: center;
}
}